.modal-content-container {
  display: grid;
  grid-template-rows: 1fr auto;
}

.modal-img {
  width: 100%;
}

.modal-description-item {
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .modal-content-container {
    grid-template-columns: 1fr 1fr;
  }
}
